h1 {
    text-align:center;
    font-family:'Trebuchet MS'; 
    color:white; 
    border: solid;
    border-left-color:black;
    border-left-width: 15px;
    border-right-color:black;
    border-right-width: 15px;
    background-color:gray;
}
h3 {
    text-align:left;
    font-family:'BlinkMacSystemFont'; 
    color:white; 
    border: solid;
    border-left-color:black;
    border-left-width: 10px;
    border-right-color:black;
    border-right-width: 10px;
    background-color:gray;
}
a {
    font-size: 25px;
    font-style:'Trebuchet MS';
    color: white;
}

#chair {
    transform: scaleX(-1)
}
body {
    background-image: url("infinite reaches of space.jpg");
}